<ul class="additional_content">
  {% if product.metafields.custom.colour.value != blank %}
    <li>
      <div class="additional_title">Colour</div>
      <div class="additional_content">{{ product.metafields.custom.colour.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom._fabric_content.value != blank %}
   <li>
      <div class="additional_title">Fabric Content</div>
      <div class="additional_content">{{ product.metafields.custom._fabric_content.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.fabric_detail != blank %}
      <li>
        <div class="additional_title">Fabric Detail</div>
        <div class="additional_content">{{ product.metafields.custom.fabric_detail.value }}</div>
      </li>
    {% endif %}
    {% if product.metafields.custom.neck_type.value != blank %}
  <li>
      <div class="additional_title">Neck Type</div>
      <div class="additional_content">{{ product.metafields.custom.neck_type.value }}</div>
    </li>
      {% endif %}
      {% if product.metafields.custom.sleeve.value != blank %}
    <li>
      <div class="additional_title">Sleeve</div>
      <div class="additional_content">{{ product.metafields.custom.sleeve.value }}</div>
    </li>
      {% endif %}
      {% if product.metafields.custom.fit.value != blank %}
       <li>
          <div class="additional_title">Fit</div>
          <div class="additional_content">{{ product.metafields.custom.fit.value }}</div>
        </li>
      {% endif %}
       {% if product.metafields.custom.closure.value != blank %}
      <li>
        <div class="additional_title">Closure</div>
        <div class="additional_content">{{ product.metafields.custom.closure.value }}</div>
      </li>
    {% endif %}
     {% if product.metafields.custom.slit_detail.value != blank %}
   <li>
      <div class="additional_title">Slit Detail</div>
      <div class="additional_content">{{ product.metafields.custom.slit_detail.value }}</div>
    </li>
      {% endif %}
      {% if product.metafields.custom.occasion.value != blank %}
  <li>
      <div class="additional_title">Occasion</div>
      <div class="additional_content">{{ product.metafields.custom.occasion.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.length.value != blank %}
  <li>
      <div class="additional_title">Length</div>
      <div class="additional_content">{{ product.metafields.custom.length.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.ethnicity.value != blank %}
          <li>
            <div class="additional_title">Ethnicity</div>
            <div class="additional_content">{{ product.metafields.custom.ethnicity.value }}</div>
          </li>
       {% endif %}
       {% if product.metafields.custom.pattern.value != blank %}
  <li>
      <div class="additional_title">Pattern</div>
      <div class="additional_content">{{ product.metafields.custom.pattern.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.fabric_family.value != blank %}
  <li>
      <div class="additional_title">Fabric Family</div>
      <div class="additional_content">{{ product.metafields.custom.fabric_family.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.colour_details.value != blank %}
        <li>
          <div class="additional_title">Colour Details</div>
          <div class="additional_content">{{ product.metafields.custom.colour_details.value }}</div>
        </li>
    {% endif %}
       
    {% if product.metafields.custom.care.value != blank %}
  <li>
      <div class="additional_title">Care</div>
      <div class="additional_content">{{ product.metafields.custom.care.value }}</div>
    </li>
      {% endif %}
      {% if product.metafields.custom.fabric_process.value != blank %}
  <li>
      <div class="additional_title">Fabric Process</div>
      <div class="additional_content">{{ product.metafields.custom.fabric_process.value }}</div>
    </li>
      {% endif %}
      {% if product.metafields.custom.sleeve_styling.value != blank %}
  <li>
      <div class="additional_title">Sleeve Styling</div>
      <div class="additional_content">{{ product.metafields.custom.sleeve_styling.value }}</div>
    </li>
    {% endif %}
       {% if product.metafields.custom.ornamentation.value != blank %}
          <li>
            <div class="additional_title">Ornamentation</div>
            <div class="additional_content">{{ product.metafields.custom.ornamentation.value }}</div>
          </li>
       {% endif %}
       
       {% if product.metafields.custom.fabric_type.value != blank %}
        <li>
          <div class="additional_title">Fabric Type</div>
          <div class="additional_content">{{ product.metafields.custom.fabric_type.value }}</div>
        </li>
       {% endif %}
      {% if product.metafields.custom.shape.value != blank %}
        <li>
            <div class="additional_title">Shape</div>
            <div class="additional_content">{{ product.metafields.custom.shape.value }}</div>
        </li>
    {% endif %}
   
      {% if product.metafields.custom.hemline.value != blank %}
   <li>
      <div class="additional_title">Hemline</div>
      <div class="additional_content">{{ product.metafields.custom.hemline.value }}</div>
    </li>
    {% endif %}
    
      {% if product.metafields.custom.material.value != blank %}
   <li>
      <div class="additional_title">Material</div>
      <div class="additional_content">{{ product.metafields.custom.material.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.bottom_sole_material.value != blank %}
   <li>
      <div class="additional_title">Bottom/Sole Material</div>
      <div class="additional_content">{{ product.metafields.custom.bottom_sole_material.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.insole_material.value != blank %}
   <li>
      <div class="additional_title">Insole Material</div>
      <div class="additional_content">{{ product.metafields.custom.insole_material.value }}</div>
    </li>
    {% endif %}
     {% if product.metafields.custom.toe_shape.value != blank %}
   <li>
      <div class="additional_title">Toe Shape</div>
      <div class="additional_content">{{ product.metafields.custom.toe_shape.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.toe_type.value != blank %}
   <li>
      <div class="additional_title">Toe Type</div>
      <div class="additional_content">{{ product.metafields.custom.toe_type.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.texture.value != blank %}
   <li>
      <div class="additional_title">Texture</div>
      <div class="additional_content">{{ product.metafields.custom.texture.value }}</div>
    </li>
    {% endif %}
     {% if product.metafields.custom.heel_type.value != blank %}
   <li>
      <div class="additional_title">Heel Type</div>
      <div class="additional_content">{{ product.metafields.custom.heel_type.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.cushioning_detail.value != blank %}
   <li>
      <div class="additional_title">Cushioning Detail</div>
      <div class="additional_content">{{ product.metafields.custom.cushioning_detail.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.material_care.value != blank %}
   <li>
      <div class="additional_title">Material Care</div>
      <div class="additional_content">{{ product.metafields.custom.material_care.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.heel_height.value != blank %}
   <li>
      <div class="additional_title">Heel Height</div>
      <div class="additional_content">{{ product.metafields.custom.heel_height.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.heel_pattern.value != blank %}
   <li>
      <div class="additional_title">Heel Pattern</div>
      <div class="additional_content">{{ product.metafields.custom.heel_pattern.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.us_size.value != blank %}
   <li>
      <div class="additional_title">US Size</div>
      <div class="additional_content">{{ product.metafields.custom.us_size.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.uk_size.value != blank %}
   <li>
      <div class="additional_title">UK Size</div>
      <div class="additional_content">{{ product.metafields.custom.uk_size.value }}</div>
    </li>
    {% endif %}
    {% if product.metafields.custom.fastening_back_details != blank %}
     <li>
        <div class="additional_title">Fastening & Back Details</div>
        <div class="additional_content">{{ product.metafields.custom.fastening_back_details }}</div>
      </li>
    {% endif %}
</ul>